<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="5">
 
    <!-- Logging Properties -->
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss} [%-5p] (%F:%L) - %m%n</Property>
    </Properties>
     
    <Appenders>
     
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>       
         
    </Appenders>
 
    <Loggers>
         
        <Logger name="systeam.primula" additivity="false" level="debug">
            <AppenderRef ref="Console"  />
        </Logger>
                 
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
 
    </Loggers>
 
</Configuration>